devices: (
{
  name: "Wireless Mouse MX Master 2S";
  smartshift:
  {
    on: false;
    threshold: 100;
  };
  hiresscroll:
  {
    hires: false;
    invert: false;
    target: false;
  };
  dpi: 1500;
buttons: (
  {
    # Thumb button
    cid: 0xc3;
    action =
    {
      type: "Gestures";
      gestures: (
        {
          direction: "Up";
          mode: "OnRelease";
          action =
          {
            type: "Keypress";
            keys: ["KEY_VOLUMEUP"];
          };
        },
        {
          direction: "Down";
          mode: "OnRelease";
          action =
          {
            type: "Keypress";
            keys: ["KEY_VOLUMEDOWN"];
          };
        },
        {
          direction: "Left";
          mode: "OnRelease";
          action =
          {
            type: "Keypress";
            keys: ["KEY_PREVIOUSSONG"];
          };
        },
        {
          direction: "Right";
          mode: "OnRelease";
          action =
          {
            type: "Keypress";
            keys: ["KEY_NEXTSONG"];
          }
        },
        {
          direction: "None";
          mode: "OnRelease";
          action =
          {
            type: "Keypress";
            keys: ["KEY_PLAYPAUSE"];
          }
        }
      );
    };
  },
  {
    # Button behind the scroll
    cid: 0xc4;
    action =
    {
      type = "ToggleSmartshift";
    };
  },
  {
    # Down button: Previous workspace
    cid: 0x53;
    action =
    {
      type: "Keypress";
      keys: ["KEY_LEFTCTRL", "KEY_LEFTMETA", "KEY_PAGEDOWN"];
    };
  },
  {
    # Up button: Next workspace
    cid: 0x56;
    action =
    {
      type: "Keypress";
      keys: ["KEY_LEFTCTRL", "KEY_LEFTMETA", "KEY_PAGEUP"];
    };
  });
});
